language: c
sudo: false
notifications:
  irc: "irc.freenode.net#haskell-raaz"

# Setting up caches
before-cache:
  - rm -fv $HOME/.cabal/packages/hackage.haskell.org/build-reports.log
  - rm -fv $HOME/.cabal/packages/hackage.haskell.org/00-index.tar

cache:
  directories:
    - $HOME/.cabsnap
    - $HOME/.cabal/packages
    - $HOME/.stack
    - .stack-work

fast_finish: true

addons:
  apt:
    packages:
      - libgmp-dev
      - ghc-7.6.3           # For debian8
      - ghc-head
      - cabal-install-head
      - cabal-install-1.20  # For debain8
      - hlint
    sources: [hvr-ghc, fpcomplete-precise]

matrix:
  include:

    - os: osx

    # Build for debian
    - os: linux
      env: HVR_COLLECTION=debian-8 GHCVER=7.6.3 CABALVER=1.20

    # Build for the stack version that comes with the repository.
    - os: linux
      env: STACK="yes"

    # Build for the latest stack lts
    - os: linux
      env: STACK="yes" RESOLVER="--resolver=lts"

    # Build for the nighty stack build
    - os: linux
      env: STACK="yes" RESOLVER="--resolver=nightly"

    # Build for the GHC head and cabal-install-head
    - os: linux
      env: GHCVER=head CABALVER=head

    # Lint the code.
    - os: linux
      env: HLINT="yes"

  allow_failures:
    - env: GHCVER=head CABALVER=head
    - env: HLINT="yes"

before_install:
 - if [ "$HLINT" == "yes" ]; then
      hlint "--ignore=Parse error" Raaz;
      exit $?;
   fi


 - if [ "$STACK" == "yes" ]; then
      export BUILDCMD="stack $RESOLVER --stack-yaml stack-travis.yaml";
      mkdir -p $HOME/.local/bin;
      curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack';
      $BUILDCMD setup;
   else
      export PATH=/opt/ghc/$GHCVER/bin:/opt/cabal/$CABALVER/bin:$PATH;
      export BUILDCMD="cabal";
   fi

 - if [ "$HVR_COLLECTION" != "" ]; then
      wget https://raw.githubusercontent.com/hvr/multi-ghc-travis/master/collections/cabal.project."$HVR_COLLECTION" -O cabal.config ;
   fi
 - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew update; fi
 - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew install ghc cabal-install; fi
 - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew info ghc cabal-install; fi

install:
 - $BUILDCMD --version
 - if [ "$BUILDCMD" == "cabal" ]; then
      travis_retry cabal update;
      cabal install --only-dependencies --enable-tests;
    fi

script:
  - if [ "$BUILDCMD" == "cabal" ]; then cabal configure --enable-tests; fi
  - $BUILDCMD build
  - $BUILDCMD test
  - if [ "$BUILDCMD" == "stack" ]; then stack bench --no-run-benchmarks; fi
  - if [ "$BUILDCMD" == "cabal" ]; then cabal check; fi
  - if [ "$BUILDCMD" == "cabal" ]; then cabal sdist; fi
  - if [ "$BUILDCMD" == "cabal" ]; then cabal install --force-reinstalls dist/*-*.tar.gz; fi

after_success:
  - echo "All is well."
after_failure:
  - echo "Build failed."
branches:
  only:
    - master
    - release-0.1.0
