env:
  # Default travis build. The hvr's ghc ppa seems to have some
  # problems sometimes and connection fails. We would want at-least
  # this build to go throught.
  #
  - GHC_VERSION= CABAL_VERSION=
  #
  # - GHC_VERSION=7.4.2 CABAL_VERSION=1.18
  # - GHC_VERSION=7.6.3 CABAL_VERSION=1.18
  # Add specific platforms. Make sure to add the corresponding cabal
  # config files in the platform subdirectory.
  # - HASKELL_PLATFORM=2012.2.0.0 CABAL_VERSION=1.18
  - HASKELL_PLATFORM=2013.2.0.0 CABAL_VERSION=1.18
  - GHC_VERSION=7.8.1 CABAL_VERSION=1.18
before_install:
  - "make travis-before-install"
  - "make echo-variables"
install: "make install"
script: "make  tests"

branches:
  only:
    - master
    - x-travis