name: Build
on:
  push:
  pull_request:
  schedule:
    # Daily build.
    - cron: '42 8 * * *'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        ghc:
          # - '8.4'  (Haddock failure)
          # - '8.6'  (Haddock failure)
          - '8.8'
          - '8.10'
          - '9.0'
          - '9.2'
          - '9.4'
          - '9.6'
          - 'latest'

        include:
          - os: windows-latest
            ghc: 'latest'
          - os: macos-latest
            ghc: 'latest'

    steps:
      - name: 'Setup'
        uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: 'latest'
      - name: Information
        run: |
          ghc --version
          cabal --version

      - name: Get the Repository
        uses: actions/checkout@v4

      - name: Submodules
        run: git submodule update --init libverse

      - name: Updating Cabal packages
        run: |
          cabal update

      - name: Build
        run: cabal build --minimize-conflict-set

      - name: Test
        run: cabal test

      - name: Benchmark
        run: cabal bench

      - name: Haddock
        run: cabal haddock

      - name: Check
        run: cabal check

      # Disable Install command.
      # - name: Install
      #   run: cabal install

      - name: Build with tarball
        if: matrix.os == 'ubuntu-latest'
        run: |
          cabal sdist
          mkdir tarball-build
          mv dist-newstyle/sdist/*.tar.gz tarball-build
          cd tarball-build
          tar xzvf *.tar.gz --strip-components=1
          cabal build
          cabal test
          cabal haddock
          cabal check

      - name: Raaz information
        run: cabal run raaz -- info
